<% layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">New Animal at <%=center.name %> </h1>
    <div class="col-6 offet-3">
        <form action="/centers/<%= center._id %>/animals" method="POST" novalidate class='validate-form'>
            <div class='mb-3'>
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="animal[name]" required>
             </div>
             <div class='mb-3'>
                <label class="form-label" for="headline">Attributes / Personality</label>
                <input class="form-control" type="text" id="headline" name="animal[headline]" required>
             </div>
             <div class='mb-3'>
                <label class="form-label" for="species">Species</label>
                <input class="form-control" type="text" id="species" name="animal[species]" required>
             </div>
             <div class='mb-3'>
                <label class="form-label" for="breed">Breed</label>
                <input class="form-control" type="text" id="breed" name="animal[breed]" required>
             </div>
             <div class='mb-3'>   
                 <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="animal[location]" required>
            </div>
            <div class='mb-3'>   
                <label class="form-label" for="image">Image URL</label>
               <input class="form-control" type="text" id="image" name="animal[image]" required>
            </div>
            <div class='mb-3'>   
                <label class="form-label" for="age">Age</label>
               <input class="form-control" type="text" id="age" name="animal[age]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Adoption Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id='price' name="animal[price] placeholder="0.00" aria-label="Amount (to the nearest dollar)" aria-describedby="price-label" required>
                </div>
            </div>

            <div class='mb-3'>   
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="animal[description]" required></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-dark">Add Animal</button>
            </div>
            </form>
            <a href="/centers/<%= center._id %>/animals/">All Animals</a>
    </div>
</div>